---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - results.stackrox.io
  resources:
  - resultsexporters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - results.stackrox.io
  resources:
  - resultsexporters/finalizers
  verbs:
  - update
- apiGroups:
  - results.stackrox.io
  resources:
  - resultsexporters/status
  verbs:
  - get
  - patch
  - update
