---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - results.stackrox.io
  resources:
  - alerts
  - clusteralerts
  - clusterstackroxresults
  - imagevulnerabilities
  - nodevulnerabilities
  - resultsexporters
  - stackroxresults
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - results.stackrox.io
  resources:
  - alerts/status
  - clusteralerts/status
  - clusterstackroxresults/status
  - imagevulnerabilities/status
  - nodevulnerabilities/status
  - resultsexporters/status
  - stackroxresults/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - results.stackrox.io
  resources:
  - resultsexporters/finalizers
  verbs:
  - update
