---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: securityresults.results.stackrox.io
spec:
  group: results.stackrox.io
  names:
    kind: SecurityResults
    listKind: SecurityResultsList
    plural: securityresults
    singular: securityresults
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.summary.criticalAlerts
      name: Critical Alerts
      type: integer
    - jsonPath: .status.summary.highAlerts
      name: High Alerts
      type: integer
    - jsonPath: .status.summary.totalAlerts
      name: Total Alerts
      type: integer
    - jsonPath: .status.summary.criticalCVEs
      name: Critical CVEs
      type: integer
    - jsonPath: .status.summary.totalCVEs
      name: Total CVEs
      type: integer
    - jsonPath: .status.lastUpdated
      name: Last Updated
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          SecurityResults is the Schema for the securityresults API
          This aggregates all security findings for a namespace into a single resource
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              SecurityResultsSpec defines the desired state of SecurityResults
              NOTE: This is a read-only resource created by the operator.
              Spec is intentionally empty - all data is in Status.
            type: object
          status:
            description: |-
              SecurityResultsStatus defines the observed state of SecurityResults
              This contains all the security finding data from StackRox Central
            properties:
              alerts:
                description: All alerts in this namespace
                items:
                  description: AlertData contains the same information as Alert.Spec
                  properties:
                    entity:
                      description: AlertEntity describes the Kubernetes entity that
                        violated the policy
                      properties:
                        id:
                          description: Entity ID
                          type: string
                        name:
                          description: Entity name (deployment name, image name, resource
                            name, etc.)
                          type: string
                        namespace:
                          description: Namespace (for namespaced entities)
                          type: string
                        resourceType:
                          description: Resource type (for Resource entities - e.g.,
                            "Secret", "ConfigMap")
                          type: string
                        type:
                          description: Type of entity (Deployment, Pod, Image, Node,
                            Resource)
                          type: string
                      type: object
                    firstOccurred:
                      format: date-time
                      type: string
                    id:
                      description: Alert ID from Central
                      type: string
                    lifecycleStage:
                      enum:
                      - DEPLOY
                      - RUNTIME
                      type: string
                    policyCategories:
                      items:
                        type: string
                      type: array
                    policyId:
                      description: Policy information
                      type: string
                    policyName:
                      type: string
                    policySeverity:
                      enum:
                      - CRITICAL
                      - HIGH
                      - MEDIUM
                      - LOW
                      - UNKNOWN
                      type: string
                    resolvedAt:
                      format: date-time
                      type: string
                    state:
                      description: Current state
                      enum:
                      - ACTIVE
                      - RESOLVED
                      - ATTEMPTED
                      type: string
                    time:
                      format: date-time
                      type: string
                    violations:
                      items:
                        description: Violation describes a specific policy violation
                        properties:
                          keyValueAttrs:
                            description: Additional violation attributes
                            items:
                              description: KeyValueAttr is a key-value pair for violation
                                details
                              properties:
                                key:
                                  type: string
                                value:
                                  type: string
                              required:
                              - key
                              - value
                              type: object
                            type: array
                          message:
                            description: Human-readable violation message
                            type: string
                          type:
                            description: Type of violation
                            type: string
                        type: object
                      type: array
                  required:
                  - id
                  - lifecycleStage
                  - policyId
                  - policyName
                  - policySeverity
                  - time
                  type: object
                type: array
              conditions:
                description: |-
                  Conditions represent the current state of the SecurityResults

                  Condition types:
                  - "DataTruncated": indicates if data was truncated to stay within limits
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              imageVulnerabilities:
                description: All image vulnerabilities for images used in this namespace
                items:
                  description: ImageVulnerabilityData contains image vulnerability
                    information
                  properties:
                    cves:
                      description: Top CVEs (limited)
                      items:
                        description: CVE describes a vulnerability
                        properties:
                          component:
                            description: Component describes a vulnerable software
                              component
                            properties:
                              location:
                                type: string
                              name:
                                type: string
                              version:
                                type: string
                            type: object
                          cve:
                            type: string
                          cvss:
                            description: CVSS score (0-10)
                            type: string
                          cvssV3:
                            description: CVSSv3 contains CVSS v3 scoring
                            properties:
                              score:
                                type: string
                              vector:
                                type: string
                            required:
                            - score
                            - vector
                            type: object
                          discoveredInImage:
                            format: date-time
                            type: string
                          epss:
                            description: EPSS contains Exploit Prediction Scoring
                              System data
                            properties:
                              percentile:
                                type: string
                              score:
                                type: string
                            required:
                            - percentile
                            - score
                            type: object
                          fixable:
                            type: boolean
                          fixedBy:
                            description: Version that fixes this CVE
                            type: string
                          link:
                            type: string
                          published:
                            format: date-time
                            type: string
                          severity:
                            enum:
                            - CRITICAL
                            - HIGH
                            - MEDIUM
                            - LOW
                            - UNKNOWN
                            type: string
                          state:
                            enum:
                            - OBSERVED
                            - DEFERRED
                            - FALSE_POSITIVE
                            type: string
                        required:
                        - cve
                        - severity
                        type: object
                        x-kubernetes-validations:
                        - rule: "true"
                      maxItems: 50
                      type: array
                    image:
                      description: Image reference
                      properties:
                        fullName:
                          type: string
                        name:
                          type: string
                        registry:
                          type: string
                        remote:
                          type: string
                        sha:
                          type: string
                        tag:
                          type: string
                      required:
                      - name
                      - sha
                      type: object
                    scanTime:
                      format: date-time
                      type: string
                    summary:
                      description: VulnerabilitySummary summarizes vulnerabilities
                        by severity
                      properties:
                        critical:
                          description: SeverityCount counts vulnerabilities at a severity
                            level
                          properties:
                            fixable:
                              type: integer
                            total:
                              type: integer
                          required:
                          - fixable
                          - total
                          type: object
                        fixableTotal:
                          type: integer
                        high:
                          description: SeverityCount counts vulnerabilities at a severity
                            level
                          properties:
                            fixable:
                              type: integer
                            total:
                              type: integer
                          required:
                          - fixable
                          - total
                          type: object
                        low:
                          description: SeverityCount counts vulnerabilities at a severity
                            level
                          properties:
                            fixable:
                              type: integer
                            total:
                              type: integer
                          required:
                          - fixable
                          - total
                          type: object
                        medium:
                          description: SeverityCount counts vulnerabilities at a severity
                            level
                          properties:
                            fixable:
                              type: integer
                            total:
                              type: integer
                          required:
                          - fixable
                          - total
                          type: object
                        total:
                          type: integer
                      required:
                      - fixableTotal
                      - total
                      type: object
                  required:
                  - image
                  - scanTime
                  - summary
                  type: object
                type: array
              lastUpdated:
                description: Last update time
                format: date-time
                type: string
              namespace:
                description: Namespace this result applies to
                type: string
              summary:
                description: Summary counts
                properties:
                  criticalAlerts:
                    description: Alert counts by severity
                    type: integer
                  criticalCVEs:
                    description: CVE counts across all images
                    type: integer
                  fixableCVEs:
                    type: integer
                  highAlerts:
                    type: integer
                  highCVEs:
                    type: integer
                  totalAlerts:
                    type: integer
                  totalCVEs:
                    type: integer
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
